* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: gainsboro;
}

.container { /* задать ширину и выровнять по середине */
  max-width: 980px;
  margin: 0 auto;
}
.row { /* строка */
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 10px;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 0 0;
}
.col-4 {
  flex: 33.3% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}

.card {
  background-color: white;
  box-shadow: 5px 5px 10px 0 black;
  transition: all 100ms ease-in;

  margin-bottom: 15px;
}
.card .card-image {
  width: 100%;
}
.card .card-content {
  padding: 10px 15px;
}
.card.card-horizonal {
  display: flex;
}
.card.card-horizonal .card-image {
  width: 30%;
}




.topbar {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 20px 15px;

  display: flex;
}


.nav {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  list-style: none;
}
.nav .nav-link {
  color: tomato;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;

  display: block;
}
.nav .nav-link:hover {
  color: rgb(171, 37, 14);
}
.nav .nav-link.active {
  color: white;
  background-color: tomato;
}

/* Dark */
.topbar.topbar-dark {
  background-color: rgb(99, 99, 99);
}
.nav.nav-dark .nav-link {
  color: white;
}
.nav.nav-dark .nav-link:hover {
  color: rgb(240, 240, 240);
}
.nav.nav-dark .nav-link.active {
  color: rgb(99, 99, 99);
  background-color: white;
}

/* Beeline */
.topbar.topbar-beeline {
  background-color: rgb(255, 247, 0);
}
.nav.nav-beeline .nav-link {
  color: rgb(99, 99, 99);
}
.nav.nav-beeline .nav-link:hover {
  color: rgb(125, 124, 89);
}
.nav.nav-beeline .nav-link.active {
  color: rgb(255, 247, 0);
  background-color: rgb(99, 99, 99);
}

/* Bubbles */
.topbar.topbar-bubbles {
  background-image: linear-gradient(45deg, rgb(94, 249, 197), rgb(27, 184, 132));
}
.nav.nav-bubbles .nav-link {
  color: rgb(99, 99, 99);
  border-radius: 100px;
  margin-right: 5px;
  box-shadow: inset 0 -5px 8px 0 rgba(0, 0, 0, 0.3),
  inset 0 5px 8px 0 rgba(255, 255, 255, 0.5),
  inset 0 0 3px 0 black;
}
.nav.nav-bubbles .nav-link:hover {
  background-color: yellow;
}
.nav.nav-bubbles .nav-link.active {
  background-color: yellow;
  box-shadow: inset 0 5px 8px 0 rgba(0, 0, 0, 0.3),
  inset 0 -5px 8px 0 rgba(255, 255, 255, 0.5),
  inset 0 0 3px 0 black;
}

/* Skew */
.topbar.topbar-skew {
  padding: 0 20px;
}
.nav.nav-skew .nav-item {
  transform: skew(-20deg);
}
.nav.nav-skew .nav-link {
  padding: 20px 25px;
  border-radius: 0;
  transform: skew(20deg);
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav.nav-skew .nav-item:hover {
  background-image: linear-gradient(45deg, white, rgb(238, 238, 238));
}
.nav.nav-skew .nav-item.active .nav-link {
  color: white;
}
.nav.nav-skew .nav-item.active {
  background-image: linear-gradient(45deg, tomato, rgb(224, 67, 39));
}
/* megacom */
.topbar.topbar-megacom {
  background-color: rgba(4, 80, 4, 0.808);
}
.nav.nav-megacom .nav-link {
  color: rgb(240, 245, 237);
}
.nav.nav-megacom .nav-link:hover {
  color: rgb(255, 255, 252);
}
.nav.nav-megacom .nav-link.active {
  color: rgb(249, 248, 249);
  background-color: rgb(95, 4, 71);
}
/* tiktok */
.topbar.topbar-tiktok {
  background-color: rgba(7, 7, 7, 0.808);
}
.nav.nav-tiktok .nav-link {
  color: rgb(240, 245, 237);
}
.nav.nav-tiktok .nav-link:hover {
  color: rgb(255, 255, 252);
}
.nav.nav-tiktok .nav-link.active {
  color: rgb(249, 248, 249);
  background-color: rgb(18, 35, 111);
}
/* telegram */
.topbar.topbar-telegram {
  background-image: linear-gradient(45deg, rgb(47, 133, 190), rgb(27, 184, 132));
}
.nav.nav-telegram .nav-link {
  color: rgb(14, 14, 14);
  border-radius: 100px;
  margin-right: 5px;
  box-shadow: inset 0 -5px 8px 0 rgba(0, 0, 0, 0.3),
  inset 0 5px 8px 0 rgba(255, 255, 255, 0.5),
  inset 0 0 3px 0 black;
}
.nav.nav-telegram .nav-link:hover {
  background-color: rgb(243, 243, 239);
}
.nav.nav-telegram .nav-link.active {
  background-color: rgb(249, 249, 247);
  box-shadow: inset 0 5px 8px 0 rgba(0, 0, 0, 0.3),
  inset 0 -5px 8px 0 rgba(255, 255, 255, 0.5),
  inset 0 0 3px 0 black;
}
/*bookstrap */
.topbar.topbar-bookstrap {
  background-image: linear-gradient(45deg, rgb(221, 23, 188), rgb(209, 97, 202));
}
.nav.nav-bookstrap .nav-link {
  color: rgb(253, 247, 247);
  border-radius: 100px;
  margin-right: 5px;
  
}
.nav.nav-bookstrap .nav-link:hover {
  background-color: rgb(183, 16, 195);
}
.nav.nav-bookstrap .nav-link.active {
  background-color: rgb(214, 14, 147);
 
}
/*new */
.topbar.topbar-new {
  background-image: url(./1.jpg);
}
.nav.nav-new .nav-link {
  color: rgb(253, 247, 247);
  border-radius: 100px;
  margin-right: 5px;
  
}
.nav.nav-new .nav-link:hover {
  background-color: rgb(41, 40, 41);
}
.nav.nav-new .nav-link.active {
  background-color: rgb(40, 39, 40);
 
}
/*new*/
.topbar.topbar-navigation {
  background-image: url(./3.jpg);
}
.nav.nav-navigation .nav-link {
  color: rgb(13, 13, 13);
  border-radius: 100px;
  margin-right: 5px;
  box-shadow: inset 0 -5px 8px 0 rgba(0, 0, 0, 0.3),
  inset 0 5px 8px 0 rgba(255, 255, 255, 0.5),
  inset 0 0 3px 0 black;
  
}
.nav.nav-navigation  .nav-link:hover {
  background-color: rgb(202, 211, 19);
}
.nav.nav-navigation  .nav-link.active {
  background-color: rgb(242, 34, 238);
  box-shadow: inset 0 5px 8px 0 rgba(0, 0, 0, 0.3),
  inset 0 -5px 8px 0 rgba(255, 255, 255, 0.5),
  inset 0 0 3px 0 black;
 
}
